:root {
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
  --card: 0 0% 100%;
  --card-foreground: 222.2 84% 4.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 222.2 84% 4.9%;
  --primary: 222.2 47.4% 11.2%;
  --primary-foreground: 210 40% 98%;
  --secondary: 210 40% 96.1%;
  --secondary-foreground: 222.2 47.4% 11.2%;
  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;
  --accent: 210 40% 96.1%;
  --accent-foreground: 222.2 47.4% 11.2%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;
  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;
  --ring: 222.2 84% 4.9%;
  --radius: 0.75rem;

  --container-width-lg: 80%;
  --container-width-md: 90%;

  --transition: all 500ms ease;
}

*,
*::before,
*::after {
  margin: 0%;
  border: 0;
  padding: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

/* Remove blue highlight on :active */
*:active {
  outline: none;
}
*:active {
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  background-image: url("images/pexels-fwstudio-129731.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: hsl(var(--foreground));
  transition: var(--transition);
  line-height: 1.7;
  overflow-x: hidden;
}

.container {
  width: var(--container-width-lg);
  max-width: 1920px;
  margin-inline: auto;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
  color: hsl(var(--foreground));
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
a {
  color: hsl(var(--accent));
  font-weight: semibold;
}
a:hover {
  text-shadow: 0 0 2.5px rgb(255, 255, 255);
}

img {
  display: block;
  object-fit: cover;
  width: 100%;
}

.btn {
  color: hsl(var(--foreground));
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 0.9rem 2rem;
  background: hsl(var(--background));
  border-radius: 1.5rem;
  transition: var(--transition);
}

.btn:hover {
  background: hsl(var(--foreground));
  color: hsl(var(--accent));
}

.btn.lg {
  padding: 1.2rem 2.5rem;
  border-radius: 2rem;
  font-size: 1rem;
}

.btn.sm {
  padding: 0.4rem 1.2rem;
  font-size: 0.9rem;
}

.btn.sm:hover {
  background: hsl(var(--foreground));
}

.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: white;
  transition: var(--transition);
}

.spinner {
  width: 50px;
  height: 50px;
}

.fade-out {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}
